<div class="search-container">
    <input type="text" placeholder="Buscar producto..." [(ngModel)]="searchTerm" class="search-input" />
</div>

<div class="product-list">
    <div *ngFor="let product of filteredProducts()" class="product-card" [class.on-sale]="product.onSale">
        <img [src]="product.imageUrl" [alt]="product.name" />
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p class="price">{{ product.price | currency }}</p>
        <div class="button-group">
            <button (click)="viewDetails(product)">Ver Detalles</button>
            <button (click)="addProductToCart(product)">Agregar al Carrito</button>
        </div>
    </div>
</div>